* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    scroll-behavior: smooth;
    body { --scrollbar-width: 10px; --scrollbar-height: 10px; --scrollbar-border-radius: 36px; --scrollbar-border-thickness: 0px; --scrollbar-thumb-color: #4f4301; --scrollbar-track-color: #000000; --scrollbar-border-color: #FFFFFF00; --scrollbar-corner-color: #FFFFFF00; --scrollbar-button-color: #3F3F4600; } body::-webkit-scrollbar { width: var(--scrollbar-width, 10px); height: var(--scrollbar-height, 10px); }body::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color, #3B82F6); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-track { background: var(--scrollbar-track-color, #A1A1AA); }body::-webkit-scrollbar-corner { background: var(--scrollbar-corner-color, #FFFFFF); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { display: var(--show-double-buttons, none); }
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-block: 2rem;
  width: 100%;
  /* z-index: 1; */
}

.super-card-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.darwin {
    color: #0369a1;
    font-size: 50px;
    margin: 0;
}

.wpp {
    width: 10%;
}

.contact-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    transition-duration: 300ms;
    background-color: #403e3e;
    border: 1px solid #d8b61b;
    color: #d8b61b;
    font-weight: 600;
    padding: 0.75rem 0.8rem;
    width: 13.4em;
    height: fit-content;
}

.servipapeles{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-style: italic;
    margin-block: 0.5rem;
}

.card-container {
  position: relative;
  transition-duration: 300ms;
  border: 4px solid #3a3a3a;
  overflow: hidden;
  border-radius: 1rem;
  height: 16.25rem;
  width: 23.5rem;
  /* background-color: #250577; */
  background-image: url("/src/fondoCard.jpg");
  background-size: cover;
  background-position: center;
  padding: 1.25rem;
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  transform: rotate3d(1, -1, 1, 60deg);
}

.card-container:hover {
  transform: rotate(0deg);
}

.card-content {
  position: relative;
}

.card-text {
  color: #f3f4f6;
}

.card-title {
  font-weight: bold;
  font-size: 3rem;
}

.card-subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-block-start: 0.5rem;
}

.card-button {
  transition-duration: 300ms;
  background-color: #403e3e;
  border: 1px solid #d8b61b;
  color: #d8b61b;
  font-weight: 600;
  padding: 0.75rem 0.8rem;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
    width: 13.4em;
    height: fit-content;
  gap: 0.75rem;
}

.card-button:hover {
  background-color: #d8b61b;
  color: #f3f4f6;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.img-darwin {
  position: absolute;
  transition-duration: 500ms;
  bottom: -3.8rem;
  right: -15rem;
  width: 17rem;
  height: 17rem;
  z-index: 10;
  margin-top: -0.5rem;
  fill: #f3f4f6;
}

.card-container:hover .card-svg {
  transform: scale(1.25);
}

.card-svg-1 {
  stroke: #0f3460;
}

.card-svg-2 {
  transition-duration: 200ms;
  stroke: #0369a1;
}

.line {
  height: 0.1em;
  width: 100%;
  margin-block: 2rem;
  border-color: #d8b61b;
  background-color: #ffffff;
}

.article-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    margin-block: 2em;
    width: 100vw;
}

article {
    position: relative;
    width: 17em;
    transition: all .3s ease;
}

article img {
    box-shadow: 0 60px 60px -60px #d8b61b;
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
}

article div {
    position: absolute;
    width: 12em;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(25%);
    transition: .3s ease;
    opacity: 0;
}

article:hover {
    transform: perspective(250px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0);
}

article::before {
    content: '';
    position: absolute;
    border-radius: 12px;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0,0.95) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover div {
    opacity: 1;
    transform: translateY(10%);
}

article::after {
    content: "";
    position: absolute;
    top: -.2em;
    left: -.2em;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(
        45deg,
        #8d760f,
        #d8b61b,
        #df9d41,
        #df8541,
        #000000,
        #df8541,
        #df9d41,
        #d8b61b,
        #8d760f
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: glowing-button-85 20s linear infinite;
}

article:hover::after {
    opacity: 1;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.price-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  /* z-index: 0; */
}

.price-container.active {
  visibility: visible;
  opacity: 1;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25em;
  padding: 2.5em;
  margin: 1em auto;
  transform: translate(-50%, -55%);
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box-iman {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 48em;
    padding: 1em;
    margin: 1em auto;
    transform: translate(-50%, -55%);
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.tabla_iman {
    width: 100%;
    border-radius: 5px;
}

.login-box .user-box {
  position: relative;
  display: flex;
}

.login-box button {
  position: relative;
  display: inline-block;
  padding: 1px 2px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #44008846;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all.3s ease;
}

.login-box .user-box input {
  width: 100%;
  pointer-events: none;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label, 
  .login-box .user-box input:not(:empty) ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 1em;
  letter-spacing: 3px
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}

#total {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

#total-container {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;

  transition: display 0.5s ease-in-out;
}

#total-container.active {
  display: flex;
}

@media (max-width: 960px) {
    .super-card-container {
        margin-top: 4em;
        flex-direction: column;
    }

    .card-container {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    .article-container {
        gap: 3rem;
    }

    article {
        transform: perspective(250px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0);
    }

    article::before {
        opacity: 1;
    }

    article div {
        opacity: 1;
        transform: translateY(10%);
    }

    article::after {
        opacity: 1;
    }
}

@media (max-width: 450px) {
    .darwin {
        font-size: 40px;
    }

    .servipapeles {
        font-size: 35px;
    }

    .card-container {
        scale: 80%;
    }

    .login-box {
        width: 17em;
    }

    .login-box-iman {
        width: 21em;
    }
}